h2{
    border-color: black;
    background-color: rgb(27, 54, 134);
    margin: 0;
    
  }
  body{
    background-color: rgb(230, 237, 251);
    border-color: rgb(7, 7, 8);
    border-style: solid;
    padding: 0;
    margin: 0;
    font-size: large;
  } 
  img{
      border-radius: 50%;
      border: white solid;
  }
  
  #one{
      text-align: center;
    }
  header{
      background-color: rgb(60, 218, 213);
      text-align: center;
      padding: 10px;
    
    }
    aside{
      text-align: center;
      background-color: cadetblue;
    }

  article{
      margin: 60px;
      margin-right: 50px;
    }
    footer{
      margin: 60px;
      margin-top: -30px;
    }
  h3{
    font-family: Verdana;
  }
  .big{
    display: flex;
  }
  .box1{
    flex: 1;
    margin-right: 2px;
  }
  .box2{
    flex: 1;
    align-content: center;
  }
  #form{
    border: 5px solid #0000;
  }

  #second{
    background: url(https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&w=600);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 10px;
      margin: -10px;
      
  }
  .nav{
    list-style-type: none;
    margin-right: 100px;
    margin: -10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
  }
menu a:hover{
  color: #000;
}
a:hover{
  color:black;
}
@media only screen and (max-width: 600px) {
  .big{
    display: contents;
  }
  .pic{
    width:100px; height: 100px;}
  body{
    font-size: small;
  }
  }

@media only screen and (min-width: 601px) and (max-width: 946px) {
  .pic{
    width: 200px;
    height:  200px;
  }
  .big{
    display: contents;
  }
  body{
    font-size: medium;
  }
}
  